

#pw_recovery_box{

    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    align-content: center;
    
    width: 420px;
    height: 200px;
    overflow: hidden;
    margin: 20px auto;
    padding: 80px;       
    background-color: #7ED0FF;
    border-radius: 30px ;

}
#pw_recovery_button{

    background-color: #ffee95;
    outline: none;
    margin: 20px 15% ;
    border-radius: 19px;
    text-align: center;
    border: 0.5px solid lightgrey;
    border-bottom-width: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 30px;
    color: #7ED0FF;
}



.input_box_pw{
	background-color: white;
	outline: none;
    margin-left:10px;
    margin-bottom: 10px;
    padding-left: 16px;
    border-radius: 10px;
    border: 0.1px solid lightgrey;
    border-bottom-width: 0.5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    width: 380px;
    height: 30px;
    color: #9f9f9fc6;
	
}

.input_box_pw::placeholder {
    color: #D9D9D9;
    opacity: 1; 
}