<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Now We Talk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contact_style.css' %}">
    <link rel="stylesheet" href="{% static 'home_basic.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
 </head>
 <body>
    <header>
        <h1 id="application_name">Now We Talk</h1>
        {% include 'main/navi_bar.html' %}   
    </header>
      
      <div class="contact_container">

        <form action="{% url 'contact'%}" method="POST">
            {% csrf_token %}
            <h2> Contact Us </h2>
            {% if messages %}
               <script>
                 {% for message in messages %}
                    alert("{{ message }}");
                 {% endfor %}
               </script>
            {% endif %}

            <div class="contact_body">
              <input type="text" name="contact_from_name" id="contact_from_name" placeholder="Name" class="inputBox" ><br/><br/>
              <input type="text" name="contact_from_email" id="contact_from_email" placeholder="Email" class="inputBox" ><br/><br/>
              <input type="text" name="contact_from_subject" id="contact_from_subject" placeholder="Subject" class="inputBox" ><br/><br/>
              <textarea name="contact_from_message" id="contact_from_message" placeholder="Context" class="inputBox" ></textarea><br/><br/>                       
              <div class="btn">
                <input type="submit" value="SUBMIT" id="contact"> 
              </div> 
            </div>
        </form>    
      </div>




 </body>
</html>