
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Now We Talk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_basic.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
 </head>
 <body>
    <header>
        <h1 id="application_name">Now We Talk</h1>   
 
        {% include 'main/navi_bar.html' %}
    </header>   
        <br/><br/> 

         <div class = "friendlist_chatroom_container">
            <div id="friendlist_full_container">
              {% include 'main/friendlist.html' %}
            </div>
            <br/><br/> 

            <div id="chatroom_container">
             {% include 'main/chatroom.html' %}
            </div>
        </div>
    
   <br/>
   {% if messages %}
     <script>
       {% for message in messages %}
          alert("{{ message }}");
        {% endfor %}
     </script>
   {% endif %}



 </body>

</html>