<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Now We Talk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_signup_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">


 </head>
 <body>
    <header>
        <h1>Now We Talk</h1>   
    </header>
    {% if messages %}
    <script>
      {% for message in messages %}
         alert("{{ message }}");
       {% endfor %}
    </script>
    {% endif %}
    <div class=" input_box_container" id="signin_box">
     <form action="/" method="POST">
       {% csrf_token %}
        <input type="text" class="input_box" name="login-email" id="login-email" placeholder="Email"><br/>
        <input type="password" class="input_box" name="password" id="password" placeholder="Password"><br/>
        <input type="submit" value="SIGN IN" class="sign_in_up">   

     </form> 
     <div class="link">
     <p><b><a id="pwreset" href="{%url 'pw_recovery'%}">Forgot your password?</a></b></p>
     <br/>
     </div>
  </div>
  <div id="signup_link">
    <p>Don't have an accout? <b><a id="signup" href="{%url 'signup'%}">Sign Up</a></b></p>
  </div>

 </body>
</html>