<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Now We Talk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home_basic.css' %}">
    <link rel="stylesheet" href="{% static 'profile_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
 </head>
 <body>
    <header>
        <h1 id="application_name">Now We Talk</h1>   
        {% include 'main/navi_bar.html' %}
        <br/><br/> 
    </header>
    <div class=profile_container>
        <form action="{% url 'profile_update'%}" method="POST">

            {% csrf_token %}
            <div class=profile_body>
              <div class=profile_row>
               <label>Username</label>
               <input type="text" name="update_username" id="update_username" placeholder="{{username}}" class="inputBox"readonly ><br/><br/>
              </div>
              <div class=profile_row>
               <label>Email</label>         
               <input type="text" name="email" id="email" placeholder="{{email}}" class="inputBox" readonly><br/><br/> 
              </div>
              <div class=profile_row>
               <label>Password *</label>         
               <input type="password" name="update_password" id="update_password" placeholder="*********" class="inputBox"><br/><br/> 
              </div>
              <div class=profile_row>
               <label>First Name *</label>            
               <input type="text" name="update_first_name" id="update_first_name" placeholder="{{first_name}}" class="inputBox"><br/><br/> 
              </div>
              <div class=profile_row>
               <label>Last Name *</label>
               <input type="text" name="update_last_name" id="update_last_name" placeholder="{{last_name}}" class="inputBox"><br/><br/> 
              </div>
              <div class=profile_row>            
                <label> Date of Birth</label>
                <input type="text" name="date_of_birth" id="date_of_birth" placeholder="{{date_of_birth}}" class="inputBox" readonly><br/><br/> 
              </div>
              <div class=profile_row>
              <label>Language *</label>
              
               {% include 'main/language_selection.html' %} <br/><br/> 
              </div>
              <div class=profile_row>
              
                 <label>Verification Code</label>
                 <input type="text" name="profile_update_verification_code" id="profile_update_verification_code" class="inputBox" ><br/><br/>
               
              </div> 

            <input type="submit" value="ENTER" id="change_profil"> 
          </div>
        </form>    
      <br/>

      </div>
   {% if messages %}
     <script>
       {% for message in messages %}
          alert("{{ message }}");
        {% endfor %}
     </script>
   {% endif %}


 </body>
</html>