<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Now We Talk</title>
    <!--
    <link rel="stylesheet" href=".css">
    -->
 </head>
 <body>
    <header>
        <h1>Now We Talk</h1>   
        {% include 'main/navi_bar.html' %}
        <br/><br/> 
    
        <form action="{% url 'profile'%}" method="POST">

            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="original_username" id="original_username" placeholder="{{username}}" class="inputBox" readonly><br/><br/>
            <label>Email</label>         
            <input type="text" name="original_email" id="original_email" placeholder="{{email}}" class="inputBox" readonly><br/><br/> 
            <label>Password</label>         
            <input type="password" name="original_password" id="original_password" placeholder="*********" class="inputBox" readonly><br/><br/> 
            <label>Full name</label>
            <input type="text" name="original_first_name" id="original_first_name" placeholder="{{first_name}}" class="inputBox" readonly>
            <input type="text" name="original_last_name" id="original_last_name" placeholder="{{last_name}}" class="inputBox" readonly><br/><br/> 
            <label> Date of Birth</label>
            <input type="text" name="original_date_of_birth" id="original_date_of_birth" placeholder="{{date_of_birth}}" class="inputBox" readonly><br/><br/> 
            
            <label>Language</label>
            <input type="text" name="original_language" id="original_language" placeholder="{{language}}" class="inputBox"readonly>
            <br/><br/>
           
            <input type="submit" value="EDIT" id="change_profil"> 

        </form>    
   <br/>
   {% if messages %}
     <script>
       {% for message in messages %}
          alert("{{ message }}");
        {% endfor %}
     </script>
   {% endif %}



 </body>
</html>