<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Now We Talk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_signup_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

 <body>
    <header>
      <h1>  Now We Talk</h1>    
    </header>
      {% if messages %}
         <script>
           {% for message in messages %}
              alert("{{ message }}");
           {% endfor %}
         </script>
      {% endif %}

        <div id="signup_box"> 

          <form action="{% url 'signup'%}" method="POST">
            {% csrf_token %}
            <label class="signup_label">User Name </label>
            <input type="text" name="username" id="username" class="inputBox" ><br/><br/>     
            <label class="signup_label">First Name</label>
            <input type="text" name="firstname" id="firstname" class="inputBox"><br/><br/>  
            <label class="signup_label">Last Name</label>
            <input type="text" name="lastname" id="lastname" class="inputBox"><br/><br/>
            <label class="signup_label">Email </label>
            <input type="text" name="email" id="email" class="inputBox"><br/><br/> 
            <label class="signup_label">Password</label>
            <input type="password" name="password" id="password" class="inputBox"><br/><br/>
            <label class="signup_label">Date of Birth</label>
            <input type="date" name="birthdate" id="birthdate"  class="inputBox"><br/><br/>
            <label class="signup_label">Language</label>
            {% include 'main/language_selection.html' %}
            <input type="submit" value="JOIN" class="sign_in_up" id="join_button"> 
          </form>    

        </div>
        <div id="signin_link">
          <p>Already have an Account? <b><a id="login" href="{%url 'login'%}">Sign In</a></b></p>
        </div>

 </body>
</html>