<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Now We Talk</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'verification_styles.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
 </head>
 <body>
    <header>
        <h1> Now We Talk</h1>   
    </header>
         <div class="input_box_container">
          <form action="{% url 'verification'%}" method="POST">
            {% csrf_token %}
            <h2> Please enter your verification code </h2>
            {% if messages %}
               <script>
                 {% for message in messages %}
                    alert("{{ message }}");
                 {% endfor %}
               </script>
            {% endif %}
            <input type="text" name="verification_code" id="verification_code" placeholder="Verification Code" class="input_box" ><br/><br/>                     
            <input type="submit" value="ENTER" id="verification"> 
          </form>    
         </div>



 </body>
</html>